@model dynamic

@{
    ViewBag.Title = "Places";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Palces</h2>

<div id="placesGrid"></div>
@section scripts
{

<script data-main="scripts/app/places/PlacesPage" src="@Links.Scripts.require_js"></script>
}

