@model IsTableBusy.App.Web.ViewModels.TablesViewModel

@{
    ViewBag.Title = "Tables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tables in @Model.PlaceName</h2>

<div class="container"  data-bind="foreach: tables">
    <div class="row" data-bind="css: {'bg-success': !isBusy(), 'bg-danger': isBusy()}" >
        <div class="col-xs-7" >
            <span data-bind="text: name"></span>
        </div>
     
        <div class="col-xs-5 ">
            <a href="#" class="btn btn-default btn-lg btn-block pull-right" data-bind="visible: !isBusy(),click: $parent.setBusy">Set busy</a>
            <a href="#" class="btn btn-default btn-lg btn-block pull-right btn" data-bind="visible: isBusy(),click: $parent.setFree">Set free</a>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        window.placeName = '@Model.PlaceName';
    </script>
    <script data-main="../../scripts/app/place/placePage" src="@Links.Scripts.require_js"></script>
}