@model IsTableBusy.App.Web.ViewModels.TablesViewModel

@{
    ViewBag.Title = "Tables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tables in @Model.PlaceName</h2>

<div class="container"  data-bind="foreach: tables">
    <div class="row" data-bind="css: {'bg-success': !isBusy, 'bg-danger': isBusy}" >
        <div class="col-xs-5" >
            <span data-bind="text: name"></span>
        </div>

        <div class="col-xs-4" >
            <span data-bind="visible: isBusy">Busy</span>
            <span data-bind="visible: !isBusy">Free</span>
        </div>

        <div class="col-xs-3 ">
            <a href="#" class="btn btn-danger" data-bind="visible: !isBusy,click: $parent.SetBusy">Zajmij</a>
            <a href="#" class="btn btn-success" data-bind="visible: isBusy,click: $parent.SetFree">Zwolnij</a>
        </div>
    </div>
</div>

@section Scripts{
    <script data-main="../../scripts/app/place/placePage" src="@Links.Scripts.require_js"></script>
}