@model IsTableBusy.App.Web.ViewModels.TablesViewModel

@{
    ViewBag.Title = "Tables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tables</h2>


    <div data-bind="foreach: tables">

            <span data-bind="text: id"></span>
            <span data-bind="text: name"></span>
            <span data-bind="text: isBusy"></span>
        <a href="#" data-bind="visible: !isBusy,click: $parent.SetBusy">Zajmij</a>
        <a href="#" data-bind="visible: isBusy,click: $parent.SetFree">Zwolnij</a>
<hr />
        </div>



@section Scripts{
    <script data-main="../../scripts/app/place/placePage" src="@Url.Content("~/scripts/require.js")"></script>
}