@model IsTableBusy.App.Web.ViewModels.TablesViewModel

@{
    ViewBag.Title = "Tables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.PlaceName</h2>
<!-- pozdro --!/>
<div class="container"  data-bind="foreach: tables">
    <div class="row bs-callout" data-bind="css: {'bg-success bs-callout-success': !isBusy(), 'bg-danger bs-callout-danger': isBusy()}">
        <div class="col-xs-7">
            <span class="table-title" data-bind="text: name"></span>
        </div>
        <div class="col-xs-5 ">
            <span class="table-title pull-right" data-bind="attr : {'data-livestamp': lastChangeStateDate}"></span>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        window.placeName = '@Model.PlaceName';
    </script>
    <script>
        new PlaceTablesPage().run();
    </script>
}
