@{
    ViewBag.Title = "Stoły";
}

<div class="jumbotron">
    <h1>Bacon ipsum</h1>
    <p> Bacon ipsum dolor amet meatball pork chop strip steak, bacon alcatra porchetta chuck cupim tri-tip jerky rump. Beef ribs fatback sirloin, pork belly sausage andouille meatloaf landjaeger salami tongue.</p>
</div>

<div class="row" data-bind="foreach: places">
    <div class="col-md-4">
        <h2 data-bind="text: name"></h2>
        <p>
            <span data-bind="text: name"></span>
        </p>
        <p>
            <a class="btn btn-default" href="#">go</a>
        </p>
    </div>
</div>

@section Scripts{
    <script data-main="../../web/scripts/app/homePage/HomePage.js" src="/IsTableBusy/Web/Scripts/require.js"></script>
}