@{
    ViewBag.Title = "Stoły";
}

<div class="jumbotron">
    <h1>Is table busy?</h1>
</div>

<div class="row" data-bind="foreach: places">
    <div class="col-md-4">
        <a data-bind="attr: { 'href': '@Url.Action(MVC.Places.Tables("/"))' + name }" class="btn btn-default">
            <h2 data-bind="text: name"></h2>
            <p>
                GO
            </p>
        </a>
    </div>
</div>

@section Scripts{
    <script>
       new HomePage().run();
    </script>
}